body {
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

body .canvas-wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body canvas {
    height: 80vh;
}
